@model HardwareStore.Models.Product

<h1>@Model.Name</h1>
<div>
    Id: @Model.Id
</div>
<div>
    Name: @Model.Name
</div>
<!-- TODO: Add fields for Category, Subcategory, UnitPrice, UnitsInStock, UnitsSold, ProfitYtd, DateAdded -->

<a asp-action="Index" asp-controller="Home">Home</a>